<template name="layout">

  <!--<div class="container-fluid">-->
  {{#if currentUser}}
  {{> header}}
  <div id="wrapper" class="active">
    {{> sidebar}}
    <div id="page-content-wrapper">
      <div class="page-content inset clearfix">
        {{> yield}}
      </div>
    </div>
  </div>

  <!--
<div class="row-clearfix">
<div class="col-md-2 column">
{{> sidebar}}
</div>
<div class="col-md-10 column">
{{> yield}}
</div>
</div>
-->
  {{else}}
  {{> login}}
  {{/if}}
  <!--</div>--><!-- container-fluid -->

</template>