<template name="login">
  {{> header}}
  <div class="jumbotron">
    <div class="container">
      <h1 class="WelcomeTitle">About Heimdallr</h1>
      <p>Heimdallr is a tool that monitors the performance and the reliability of <strong>SDMX 2.1 RESTful web services</strong>. It does so by allowing users to <strong>create queries</strong>, which are then executed on a regular basis. In addition, Heimdallr offers aggreated statistics about the <strong>reliability</strong> and the <strong>performance</strong> of the web services being monitored.</p>

      <p>Additional information about SDMX can be found on the <a href="http://sdmx.org" title="Link to the SDMX website">SDMX website</a>.</p>

      <p>Additional information about the SDMX 2.1 API for the RESTful web services can be found on the <a href="https://github.com/sdmx-twg" title="Link to the Github repository of the SDMX Technical Standards Working Group">SDMX Github repository</a>.</p>
    </div>
  </div>
</template>
