<template name="sidebar">

  <div id="sidebar-wrapper">
    <div id="menu-toggle">
      <span class="fa fa-chevron-circle-left fa-fw"></span>
    </div>

    <ul id="sidebar_menu">
      <li class="{{routeLinkActive 'eventsList'}}" data-toggle="tooltip" data-placement="right" title="View all monitoring events" role="button"><a href="{{pathFor 'eventsList'}}">Events <span class="fa fa-heartbeat fa-fw fa-lg pull-right"></span></a></li>
      <li class="{{routeLinkActive 'reportsList'}}" data-toggle="tooltip" data-placement="right" title="Check the statistics about the monitoring jobs and their events" role="button"><a href="{{pathFor 'reportsList'}}">Reports <span class="fa fa-bar-chart fa-fw fa-lg pull-right"></span></a></li>
      <li class="{{routeLinkActive 'jobsList'}}" data-toggle="tooltip" data-placement="right" title="Manage the monitoring jobs" role="button"><a href="{{pathFor 'jobsList'}}">Jobs <span class="fa fa-list-ol fa-fw fa-lg pull-right"></span></a></li>
      <li class="{{routeLinkActive 'jobsRecycle'}}" data-toggle="tooltip" data-placement="right" title="Manage the recycled items" role="button"><a href="{{pathFor 'jobsRecycle'}}">Recycle bin <span class="fa fa-recycle fa-fw fa-lg pull-right"></span></a></li>
    </ul>
  </div>

</template>
