<template name="sidebar">

  <div id="sidebar-wrapper" role="navigation">
    <ul id="sidebar_menu">
      <li class="sidebar-carret"><a id="menu-toggle" href="#"><span class="fa fa-chevron-circle-left fa-fw pull-right"></span></a></li>      
      <li><a href="{{pathFor 'eventsList'}}">Events <span class="fa fa-heartbeat fa-fw fa-lg pull-right"></span></a></li>
      <li><a href="{{pathFor 'reportsList'}}">Reports <span class="fa fa-tachometer fa-fw fa-lg pull-right"></span></a></li>
      <li><a href="{{pathFor 'jobsList'}}">Jobs <span class="fa fa-tasks fa-fw fa-lg pull-right"></span></a></li>
    </ul>
  </div>

</template>