@sidebar-width:         125px;
@sidebar-hiddenWidth:   30px;
@sidebar-itemPadding:   4px;

@sidebar-color:         #ddd;
@sidebar-bg:            @brand-primary;
@sidebar-bgHover:       lighten(@sidebar-bg, 10%);
@sidebar-border:        darken(@sidebar-bg, 10%);

#wrapper {
  padding-left: @sidebar-hiddenWidth;
  transition: all .4s ease 0s;
  height: 100%
}
#wrapper.active {
  padding-left: @sidebar-width;
}
#wrapper.active #sidebar-wrapper {
  left: @sidebar-width;
}

#page-content-wrapper {
  padding-left: 0;
  margin-left: 0;
  width: 100%;
  height: auto;
}
#page-content-wrapper {
  width: 100%;
}

#sidebar-wrapper {
  margin-left: -@sidebar-width;
  left: @sidebar-hiddenWidth;
  width: @sidebar-width;
  background: @sidebar-bg;
  border: 1px solid @sidebar-border;
  position: fixed;
  height: 100%;
  z-index: 10000;
  transition: all .4s ease 0s;
}

#sidebar_menu li.sidebar-carret {
  padding: 0px;
  margin: 0px;
  border: none;
}
#sidebar_menu li.sidebar-carret a {
  padding: 0px;
  margin: 0px;
  border: none;
  height: 16px;
}
#sidebar_menu li.sidebar-carret a:hover {
  color: #fff;
  background: @sidebar-bg;
  text-decoration: none;
}
#sidebar_menu li.sidebar-carret a span{
  margin: 0px;
  padding: 0px;
  padding-top: 1px;
}

#sidebar_menu {
  list-style: none;
  padding: 0px;
}
#sidebar_menu li {
  
}
#sidebar_menu li a {
  display: block;
  color: @sidebar-color;
  text-decoration: none;
  background: @sidebar-bg;
  border: 1px solid @sidebar-border;
  padding-left: 12px;
  padding-top: @sidebar-itemPadding;
  padding-bottom: @sidebar-itemPadding;
  padding-right: 2px;
}
#sidebar_menu li a:hover {
  color: @sidebar-color;
  background: @sidebar-bgHover;
  text-decoration: none;
}
#sidebar_menu li a:active, #sidebar_menu li a:focus {
  text-decoration: none;
}
#sidebar_menu li a span {
  padding-top: @sidebar-itemPadding / 2;
}

/*
@media (max-width:767px) {
#wrapper {
padding-left: @sidebar-hiddenWidth;
transition: all .4s ease 0s;
}
#sidebar-wrapper {
left: @sidebar-hiddenWidth;
}
#wrapper.active {
padding-left: @sidebar-width;
}
#wrapper.active #sidebar-wrapper {
left: @sidebar-width;
width: @sidebar-width;
transition: all .4s ease 0s;
}
}
*/