<template name="usersList">
  <div class="users">
    <div class="alert alert-warning" role="alert">There are currently {{count}} users registered to use the application.</div>
    <table class="table table-hover table-condensed">
      <thead>
        <tr>
          <th>Name</th>
          <th>Is an administrator?</th>
          <th>Is a job creator?</th>
          <th>Since</th>
        </tr>
      </thead>
      <tbody>
        {{#each this}}
          {{> userItem }}
        {{/each}}
      </tbody>
    </table>
  </div>
</template>
