#page-content-wrapper {
  padding: 2px 10px;
}

.WelcomeTitle {
  font-family: firstOrder;
  font-size: 80pt;
  text-align: center;
}

.navbar-brand {
  font-family: firstOrder;
  font-size: 25px;
}

.spinner {
  margin: 30px auto;
}

#eventList{
  font-size: 0.9em;
  font-family: 'Inconsolata', 'Lucida Console', 'Courrier new', ;
}