.bullet { 
  font: 10px sans-serif; 
}
.bullet .marker { 
  stroke: #f55; stroke-width: 2px; 
}
.bullet .tick line { 
  stroke: #666; stroke-width: .5px; 
}
.bullet .range.s0 { 
fill: #fcc; } // past marke
r
.bullet .range.s1 { 
fill: #cfc; } // before marke
r
.bullet .range.s2 { 
  fill: #33f; 
}
.bullet .measure.s0 { 
  fill: lightsteelblue; 
}
.bullet .measure.s1 { 
  fill: steelblue; 
}
.bullet .title { 
  font-size: 8px; font-weight: bold; 
}
.bullet .subtitle { 
  fill: #000; 
}

