.jobs {
  .panel-heading {
    border-bottom: none;
  }
  // must add a class for when displayed or not to
  // add/remove inner padding !
  .panel-body {
  }

  .panel-footer {
    border-top: none;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 5px;
  }

  h3 {
    font-size: 14pt;
  }

  .row {
    padding-top: 10px;
    margin-bottom: 20px;
  }

  .panel-footer small {
    color: #777777;
    font-size: 75%;
  }

  div.panel-body i.fa {
    padding-right: 25px;
  }

  div.panel-footer i.fa {
    padding: 0px;
  }

  h3 small {
    margin-top: -8px;
    margin-right: -12px;
  }
}
