.reports {

  padding-top: 20px;

  .panel {
    -webkit-box-shadow: -8px 8px 10px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: -8px 8px 10px 0px rgba(0,0,0,0.2);
    box-shadow: -8px 8px 10px 0px rgba(0,0,0,0.2);
    transition: all 2s;
  }

  h3 {
    font-size: 14pt;
  }

  .row {
    padding-top: 10px;
  }

  .reportItemRow {
    padding-top: 0px;
  }

  .vertical-align {
    display: flex;
    align-items: center;
  }

  .fa-circle {
    padding-left: 20px;
  }

  .errorGraph {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 2px;

    .mainCell {
      width: 100%;
      background-color: #F0F0F0;;
      height: 14px;
    }

    .mainCell, .errorCell {
      background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
      background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
      background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
      background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
      background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    }

    .problematicCell {
      background-color: @brand-danger;
    }

    .okCell {
      background-color: @brand-primary;
    }

    small {
      color: #fff;
      position: absolute;
      left: 2px;
    }
  }
}
