.reports {

  padding-top: 20px;

  .panel {
    -webkit-box-shadow: -8px 8px 10px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: -8px 8px 10px 0px rgba(0,0,0,0.2);
    box-shadow: -8px 8px 10px 0px rgba(0,0,0,0.2);
    transition: all 2s;
  }

  h3 {
    font-size: 14pt;
  }

  .row {
    padding-top: 10px;
  }

  .lastRunItem {
    padding-top: 5px;
  }
}
