@import "vendor/custom.bootstrap.import.less";

@sidebar-width:         145px;
@sidebar-hiddenWidth:   30px;
@sidebar-itemPadding:   4px;


@sidebar-color:         #333;
@sidebar-bg:            #f5f5f5;
@sidebar-bgHover:       lighten(@sidebar-bg, 10%);
@sidebar-border:        darken(@sidebar-bg, 10%);


#wrapper {
  padding-left: @sidebar-hiddenWidth;
  transition: all .4s ease 0s;
  height: 100%;
}
#wrapper.active {
  padding-left: @sidebar-width;
}
#wrapper.active #sidebar-wrapper {
  left: @sidebar-width;
}

#page-content-wrapper {
  padding-left: 0;
  margin-left: 0;
  width: 100%;
  height: auto;
}
#page-content-wrapper {
  width: 100%;
}

#sidebar-wrapper {
  margin-left: -@sidebar-width;
  left: @sidebar-hiddenWidth;
  width: @sidebar-width;
  position: fixed;
  background-color: #F5F5F5;
  height: 100%;  
  transition: all .4s ease 0s;
}



#menu-toggle {
  width: 100%;
}
#menu-toggle span {
  text-align: right;
  width: 100%;
}

#sidebar_menu {
  list-style: none;
  padding: 0px;
}
#sidebar_menu li.active {
  font-weight: bold;
}
#sidebar_menu li.active a {
  background-color: @color-primary-1; 
}
#sidebar_menu li a {
  display: block;
  color: @sidebar-color;
  text-decoration: none;
  background: @sidebar-bg;
  border: 1px solid @sidebar-border;
  padding-left: 12px;
  padding-top: @sidebar-itemPadding;
  padding-bottom: @sidebar-itemPadding;
  padding-right: 2px;
}
#sidebar_menu li a:hover {
  color: @sidebar-color;
  background: @sidebar-bgHover;
  text-decoration: none;
}
#sidebar_menu li a:active, #sidebar_menu li a:focus {
  text-decoration: none;
}
#sidebar_menu li a span {
  padding-top: @sidebar-itemPadding / 2;
}