<template name="jobCreate">
  <div class="modal fade" id="insertJobModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content fuelux">
        <form id="form" class="form-horizontal" role="form" data-toggle="validator">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h2 class="modal-title" id="myModalLabel">Create new job</h2>
          </div>
          <div class="modal-body">
            <div id="createWizard" class="wizard" data-initialize="wizard">
              <ul class="steps">
                <li data-step="1" class="active"><span class="badge">1</span>Basics<span class="chevron"></span></li>
                <li data-step="2"><span class="badge">2</span>Query<span class="chevron"></span></li>
                <li data-step="3"><span class="badge">3</span>Format<span class="chevron"></span></li>
                <li data-step="4"><span class="badge">4</span>Schedule<span class="chevron"></span></li>
              </ul>
              <div class="actions">
                <button id="prev" type="button" disabled class="btn btn-default btn-prev"><span class="fa fa-fw fa-arrow-left"></span>Prev</button>
                <button id="next" type="button" class="btn btn-default btn-next" data-last="Complete">Next<span class="fa fa-fw fa-arrow-right"></span></button>
              </div>
              <div class="step-content">
                <div class="step-pane active sample-pane alert" data-step="1">
                  <div class="form-group">
                    <label for="inputID" class="control-label col-xs-4">ID</label>
                    <div class="col-xs-4">
                      <input type="text" name="inputID" class="form-control" id="inputID" required aria-required="true" placeholder="A unique ID for the job" data-error="Please define an ID for the job.">
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputName" class="control-label col-xs-4">Name</label>
                    <div class="col-xs-8">
                      <input type="text" name="inputName" class="form-control" id="inputName" required aria-required="true" placeholder="A descriptive label for the monitoring job" data-error="Please define a descriptive name for the job.">
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputWSEntry" class="control-label col-xs-4">Web service entry point</label>
                    <div class="col-xs-8">
                      <input type="url" name="inputWSEntry" class="form-control" id="inputWSEntry" required aria-required="true" placeholder="The entry point of the web service to be monitored" data-error="Please define a valid entry point for the web service." pattern="(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \.-]*)*\/?">
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                </div>
                <div class="step-pane sample-pane alert" data-step="2">
                  <div class="form-group">
                    <label for="inputFlow" class="control-label col-xs-4">Dataflow</label>
                    <div class="col-xs-8">
                      <input type="text" name="inputFlow" class="form-control" id="inputFlow" required aria-required="true" placeholder="A string identifying the dataflow">
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputKey" class="control-label col-xs-4">Key</label>
                    <div class="col-xs-8">
                      <input type="text" name="inputKey" class="form-control" id="inputKey" placeholder="The key of the series to be returned">
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputProvider" class="control-label col-xs-4">Provider</label>
                    <div class="col-xs-8">
                      <input type="text" name="inputProvider" class="form-control" id="inputProvider" placeholder="A string identifying the data provider">
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputStartPeriod" class="control-label col-xs-4">Start period</label>
                    <div class="col-xs-8">
                      <input type="text" name="inputStartPeriod" class="form-control" id="inputStartPeriod" placeholder="The start period (inclusive). ISO 8601 or SDMX reporting period">
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputEndPeriod" class="control-label col-xs-4">End period</label>
                    <div class="col-xs-8">
                      <input type="text" name="inputEndPeriod" class="form-control" id="inputEndPeriod" placeholder="The end period (inclusive). ISO 8601 or SDMX reporting period">
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputObsDim" class="control-label col-xs-4">Obs dimension</label>
                    <div class="col-xs-8">
                      <input type="text" name="inputObsDim" class="form-control" id="inputObsDim" placeholder="The id of the dimension attached at the observation level">
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputFirstNObs" class="control-label col-xs-4">First N Observations</label>
                    <div class="col-xs-2">
                      <input type="number" name="inputFirstNObs" class="form-control" id="inputFirstNObs" min="1" step="1">
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputLastNObs" class="control-label col-xs-4">Last N Observations</label>
                    <div class="col-xs-2">
                      <input type="number" name="inputLastNObs" class="form-control" id="inputLastNObs" min="1" step="1">
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputDetail" class="control-label col-xs-4">Detail</label>
                    <div class="col-xs-8">
                      <select id="inputDetail" class="form-control">
                        <option value="full" selected>full</option>
                        <option value="dataonly">dataonly</option>
                        <option value="serieskeysonly">serieskeysonly</option>
                        <option value="nodata">nodata</option>
                      </select>
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputWithHistory" class="control-label col-xs-4">Include history?</label>
                    <div class="col-xs-8 checkbox">
                      <input id="inputWithHistory" type="checkbox" data-toggle="toggle" data-size="small">
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputDeltas" class="control-label col-xs-4">Updates only (deltas)?</label>
                    <div class="col-xs-8 checkbox">
                      <input id="inputDeltas" type="checkbox" data-toggle="toggle" checked data-size="small">
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                </div>
                <div class="step-pane sample-pane alert" data-step="3">
                  <p>TBD - 3</p>
                </div>
                <div class="step-pane sample-pane alert" data-step="4">
                  <div class="form-group">
                    <label for="inputERT" class="control-label col-xs-4">Response time (in milliseconds)</label>
                    <div class="col-xs-2">
                      <input type="number" name="inputERT" class="form-control" id="inputERT" required aria-required="true" value="500" min="300" max="5000" step="100">
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputFreq" class="control-label col-xs-4">Job frequency (in minutes)</label>
                    <div class="col-xs-2">
                      <input type="number" name="inputFreq" class="form-control" id="inputFreq" required aria-required="true" min="1" max="60" step="1" value="1">
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>