<template name="JobItemActions">
  <div class="btn-group btn-group-xs pull-right" role="group" aria-label="...">  
    <a class="btn btn-default btn-sm"><i id="chevron_{{this._id}}" class="fa fa-fw fa-chevron-down"></i></a>
  </div>
  <div class="btn-group btn-group-xs pull-right" role="group" aria-label="...">
    <a class="edit btn btn-default btn-sm"><i class="fa fa-fw fa-pencil-square-o"></i></a>
    <a class="delete btn btn-default btn-sm"><i class="fa fa-fw fa-trash-o"></i></a>
  </div>
</template>