<template name="jobActions">
  <div class="btn-toolbar pull-right" role="toolbar">
    <div class="btn-group btn-group-xs">
      {{#if isActive}}
        <a href="#" id="pause" class="btn" data-toggle="tooltip" data-placement="bottom" title="Suspend job"><i class="fa fa-pause"></i></a>
      {{else}}
        <a href="#" id="play" class="btn" data-toggle="tooltip" data-placement="bottom" title="Restart job"><i class="fa fa-play"></i></a>
      {{/if}}
      {{#if currentUser.profile.isAdmin}}
        <a href="#" id="edit" class="btn" data-toggle="tooltip" data-placement="bottom" title="Edit job"><span class="fa fa-pencil"></span></a>
        <a href="#" id="delete" class="btn" data-toggle="tooltip" data-placement="bottom" title="Remove job"><span class="fa fa-trash"></span></a>
      {{/if}}
    </div>
  </div>
</template>