<template name="jobItem">

  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="{{pathFor 'jobPage'}}">{{name}}</a>
        <span class="btn-toolbar pull-right" role="toolbar">
        {{#if isActive}}
        <a href="#" id="pause"><button
                type="button" class="btn btn-default btn-xs"><span
                class="glyphicon glyphicon-pause"></span></button></a>
        {{else}}
        <a href="#" id="play"><button
                type="button" class="btn btn-default btn-xs"><span
                class="glyphicon glyphicon-play"></span></button></a>
        {{/if}}
        {{#if currentUser.profile.isAdmin}}
        <a href="{{pathFor 'jobPage'}}"><button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-pencil"></span></button></a>
        <a href="{{pathFor 'jobPage'}}"><button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-trash"></span></button></a>
        {{/if}}
        </span>
    </div>
    <div class="panel-body">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <i class="fa fa-link text-danger" title="Subscription is not active"></i>
            <small><a href="{{url}}">{{url}}</a></small>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center"><i class="fa fa-clock-o" title="Expected response time"></i> {{ert}}</div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center"><i
                  class="fa fa-refresh fa-spin" title="Job frequency"></i>
              {{freq}}</div>
        </div>
      </div>
    </div>
  </div>
  
</template>
