<template name="jobSubmit">
    <form id="form" class="form-horizontal" role="form">
        <div class="form-group">
            <label for="inputID" class="control-label col-xs-4">ID</label>
            <div class="col-xs-4">
                <input type="text" name="name" class="form-control"
                    id="inputID" required aria-required="true"
                    placeholder="A unique ID for your monitoring job">
            </div>
        </div>
        <div class="form-group">
            <label for="inputName" class="control-label col-xs-4">Name</label>
            <div class="col-xs-8">
                <input type="text" name="name" class="form-control"
                       id="inputName" required aria-required="true"
                       placeholder="A descriptive label for your monitoring job">
            </div>
        </div>
        <div class="form-group">
            <label for="inputURL" class="control-label col-xs-4">URL</label>
            <div class="col-xs-8">
                <input type="url" name="name" class="form-control"
                       id="inputURL" required aria-required="true"
                       placeholder="The SDMX 2.1 RESTful job that represents your monitoring job">
            </div>
        </div>
        <div class="form-group">
            <label for="inputSub" class="control-label col-xs-4">Subscription
                active?</label>
            <div class="checkbox col-xs-8">
                    <input type="checkbox" id="inputSub" name="Subscribed"
                           style="margin-left: 0px;">
            </div>
        </div>
        <div class="form-group">
            <label for="inputERT" class="control-label col-xs-4">Response
            time (in milliseconds)</label>
            <div class="col-xs-2">
                <input type="number" name="name" class="form-control"
                       id="inputERT" required aria-required="true" value="500"
                       min="300" max="5000" step="100">
            </div>
        </div>
        <div class="form-group">
            <label for="inputENT" class="control-label col-xs-4">Notification
                time (in minutes)</label>
            <div class="col-xs-2">
                <input type="number" name="name" class="form-control"
                       id="inputENT" required aria-required="true" value="2"
                       min="1" max="15" step="1">
            </div>
        </div>
        <div class="form-group">
            <label for="inputFreq" class="control-label col-xs-4">Job
                frequency (in minutes)</label>
            <div class="col-xs-2">
                <input type="number" name="name" class="form-control"
                       id="inputFreq" required aria-required="true"
                       min="1" max="60" step="1" value="1">
            </div>
        </div>
        <div class="form-group col-xs-12 text-right">
            <button type="button" class="btn btn-primary"
                    data-dismiss="modal">
                <span class="glyphicon glyphicon-remove"></span>
                Close</button>
            <button type="submit" id="submit"
                    class="btn btn-primary">
                <span class="glyphicon glyphicon-ok"></span>
                Create job</button>
        </div>
    </form>
</template>