<template name="jobsRecycle">
  
  <div class="jobsRecycle">
    <h1>Recycle bin
      {{#if currentUser.profile.isAdmin}}
      <div class="btn-group pull-right" role="group">
        <a class="btn btn-primary btn-sm" href="#" role="button" id="undoAll" data-toggle="tooltip" data-placement="bottom" title="Recover all jobs"><span class="fa fa-undo fa-lg fa-fw"></span></a>
        <a class="btn btn-primary btn-sm" href="#" role="button" id="deleteAll" data-toggle="tooltip" data-placement="bottom" title="Delete all jobs"><span class="fa fa-trash-o fa-lg fa-fw"></span></a>
      </div>
      {{/if}}
    </h1>
    {{> tabular table=TabularTables.RecycledJobs class="table table-condensed table-hover table-striped"}}
  </div>
  
</template>
