<template name="jobsList">
  <div class="jobs">
    <h1>Monitoring jobs
      {{#if currentUser.profile.isAdmin}}
      <div id="jobsBtnGrp" class="btn-group btn-group-xs pull-right" role="group">
        {{#if isAllActive}}
        <a class="btn btn-primary btn-sm" href="#" id="suspendAll" data-toggle="tooltip" data-placement="bottom" title="Suspend all jobs" role="button">
          <span class="fa fa-pause fa-fw"></span>
        </a>
        {{else}}
        <a class="btn btn-primary btn-sm" href="#" id="resumeAll" role="button" data-toggle="tooltip" data-placement="bottom" title="Restart all jobs">
          <span class="fa fa-play fa-fw"></span>
        </a>
        {{/if}}
        <a class="btn btn-primary btn-sm" href="{{pathFor 'jobSubmit'}}" data-toggle="tooltip" data-placement="bottom" title="Create new job" role="button"><span class="fa fa-plus-square-o fa-lg fa-fw"></span></a>
        <a class="btn btn-primary btn-sm" href="{{pathFor 'jobsRecycle'}}" role="button"><span class="fa fa-recycle fa-lg fa-fw" data-toggle="tooltip" data-placement="bottom" title="Recover deleted jobs"></span></a>
      </div>
      {{/if}}
    </h1>
    <!--
    <table class="table table-condensed table-hover table-striped" style="border-collapse:collapse;">
      <thead>
        <tr>
          <th class="col-md-2">ID</th>
          <th class="col-md-8">Name</th>
          <th class="col-md-2">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        {{#each this}}
        {{> jobItem}}
        {{/each}}           
      </tbody>
    </table>
    -->
    {{> tabular table=TabularTables.ExistingJobs class="table table-condensed table-hover table-striped"}}
  </div>
  
</template>
