<template name="jobsItemActions">
  <div class="pull-right">
    {{#if isActive}}
    <a class="suspend text-muted" href="#" data-toggle="tooltip" data-placement="bottom" title="Suspend job" >
      <span class="fa fa-pause fa-fw"></span>
    </a>
    {{else}}
    <a class="resume text-muted" href="#" role="button" data-toggle="tooltip" data-placement="bottom" title="Restart job">
      <span class="fa fa-play fa-fw"></span>
    </a>
    {{/if}}
    <a class="edit text-muted" data-toggle="tooltip" data-placement="bottom" title="Edit job"><i class="fa fa-fw fa-pencil-square-o"></i></a>
    <a class="delete text-muted" data-bb="dialog" data-toggle="tooltip" data-placement="bottom" title="Delete job"><i class="fa fa-fw fa-trash-o"></i></a>
  </div>
</template>
