<template name="jobsRecycle">

  <div class="jobs">
    {{#if isEmpty}}
      <div class="alert alert-warning" role="alert">The recycle bin is empty.</div>
    {{else}}
      {{#if currentUser.profile.isAdmin}}
        <div class="btn-group btn-group-xs pull-right" role="group">
          <a class="btn btn-default btn-sm" href="#" role="button" id="undoAll" data-toggle="tooltip" data-placement="bottom" title="Recover all jobs"><span class="fa fa-undo fa-lg fa-fw"></span></a>
          <a class="btn btn-danger btn-sm" href="#" role="button" id="deleteAll" data-bb="dialog" data-toggle="tooltip" data-placement="bottom" title="Delete all jobs"><span class="fa fa-trash-o fa-lg fa-fw"></span></a>
        </div>
      {{/if}}
      <div class="row">
        {{#each this}}
          {{> jobsRecycleItem }}
        {{/each}}
      </div>
    {{/if}}
  </div>

</template>
