<template name="jobsList">

  <div class="jobs">
    <!-- Display list of actions -->
    {{> jobsListActions}}

    <!-- Display a message if no jobs, else iterate over them -->
    {{#if isEmpty}}
      {{> jobsListEmpty }}
    {{else}}
      <div class="row">
        {{#if isRecycle}}
          {{#each this}}
            {{> jobsRecycleItem }}
          {{/each}}
        {{else}}
          {{#each this}}
            {{> jobsItem }}
          {{/each}}
        {{/if}}
      </div>
    {{/if}}
  </div>

</template>
