<template name="jobsList">
  <div class="jobs">
    <h1>Monitoring jobs
    {{#if currentUser.profile.isAdmin}}
        <div class="btn-group pull-right" role="group">
        {{#if isActive}}
            <button class="btn btn-primary btn-sm" href="#" id="suspend"
               role="button">
            <span class="fa fa-pause fa-fw"></span> Suspend jobs</button>
        {{else}}
             <button class="btn btn-primary btn-sm" href="#" role="button"
                id="resume">
             <span class="fa fa-play fa-fw"></span> Resume jobs</button>
        {{/if}}
        <button class="btn btn-primary btn-sm" href="{{pathFor 'jobSubmit'}}"
         role="button"><span class="fa fa-plus-square-o fa-lg fa-fw"></span>
            New job</button>
        <button class="btn btn-primary btn-sm" href="#" role="button"><span
                class="fa fa-trash-o fa-lg fa-fw"></span> Recover</button>
        </div>
    {{/if}}
    </h1>
    <div class="row">
      {{#each jobs}}
        <div class="col-sm-6 col-md-4">
          {{> jobItem}}
        </div>
      {{/each}}
    </div>
  </div>
</template>
