<template name="eventsList">
  <div id="tableButton" class="col-xs-2"></div>

  <table class="existingJobsTable table row-border stripe compact hover dataTable no-footer" id="eventList" role="grid">
    <thead>
      <th>Job ID</th>
      <th>Executed on</th>
      <th>Response Time</th>
      <th>n° Series</th>
      <th>n° Observations</th>
    </thead>
    <tbody>
      {{#each this}}
        <!--{{jobId}} : {{_id}}<br />-->
        {{> eventListRow}}        
      {{/each}}
    </tbody>
  </table>
  <div id="EventsPagination">
    <ul class="pagination pagination-sm">
      <li><a href="#">&laquo;</a></li>
      {{#each paginationElems}}
      <li><a href="{{pathFor 'eventsList'}}/{{offset}}">{{page}}</a></li>
      {{/each}}
      <li><a class="nextEvents" href="#">&raquo;</a></li>
    </ul>
  </div>
  <!--
  <div class="events" style="margin-bottom: 50px;">
    {{> tabular table=TabularTables.Events selector=selector class="existingJobsTable table row-border stripe compact hover"}}
  </div>
-->
</template>
