<template name="eventsList">
<!-- DEBUG:
  <table style="width: 100%;">
    <thead>
      <th>Job ID</th>
      <th>Response Time</th>
      <th>n° Series</th>
      <th>n° Observations</th>
    </thead>
    <tbody>
    {{#each this}}
      <tr>
        <td>{{_jobId}}</td>
        <td style="width: 700px;">
          {{> responseTimeChartCSS this}}
        </td>
        <td>{{series}}</td>
        <td>{{observations}}</td>
      </tr>
    {{/each}}
    </tbody>
  </table>
  -->
  <div class="events" style="margin-bottom: 50px;">
    {{> tabular table=TabularTables.Events selector=selector class="existingJobsTable table row-border stripe compact hover"}}
  </div>
</template>
