<template name="eventsList">
  <form role="form">
    <div id="eventList">
      <div class="row">
        <div id="tableButton" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
          <div class="checkbox" >
            <input id="problematicToggle" type="checkbox" data-toggle="checkbox" data-width="100" data-size="small" data-offstyle="primary" data-off="All" data-onstyle="danger" data-on="Errors" {{showProblematicOnly}}>
          </div>
          <a class="btn btn-default btn-sm" href="#" role="button" id="filterBtn" data-toggle="tooltip" data-placement="bottom" title="Filter the results"><i class="fa fa-filter fa-fw"></i></a>
          <a class="btn btn-default btn-sm hide" href="#" role="button" id="runFiltersBtn"><i class="fa fa-play fa-fw"></i> Apply filters</a>
        </div>
        <div id="tableButton" class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          {{> eventsActiveFilters}}
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-right"></div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <table class="table row-border stripe compact hover dataTable no-footer" role="grid">
            <thead>
              <th class="sortByJobId {{isSorted 'jobId'}} col-xs-1 col-sm-1 col-md-1 col-lg-1">Job</th>
              <th class="sortByETime {{isSorted 'etime'}} col-xs-2 col-sm-2 col-md-2 col-lg-1">Executed on</th>
              <th class="sortByStatus {{isSorted 'status'}} col-xs-1 col-sm-1 col-md-1 col-lg-1">Status</th>
              <th class="sortByResponseTime {{isSorted 'responseTime'}} col-xs-4 col-sm-5 col-md-5 col-lg-6">Response time <small>(milliseconds)</small></th>
              <th class="sortBySeries {{isSorted 'series'}} col-xs-1 col-sm-1 col-md-1 col-lg-1">Series</th>
              <th class="sortByObservations {{isSorted 'observations'}} col-xs-1 col-sm-1 col-md-1 col-lg-1">Obs.</th>
              <th class="sortBySize {{isSorted 'size'}} col-xs-2 col-sm-1 col-md-1 col-lg-1">Size <small>(bytes)</small></th>
            </thead>
            <tbody>
              <tr id="filtersRow" class="hide">
                <td>{{> columnFilter jobIdFilters}}</td>
                <td>{{> columnFilter etimeFilters}}</td>
                <td>{{> columnFilter statusFilters}}</td>
                <td>{{> columnFilter rtFilters}}</td>
                <td>{{> columnFilter seriesFilters}}</td>
                <td>{{> columnFilter obsFilters}}</td>
                <td>{{> columnFilter sizeFilters}}</td>
              </tr>
              {{#each this}}
                {{> eventListRow}}
              {{/each}}
            </tbody>
          </table>
        </div><!-- col-12 -->
      </div><!-- row -->
      {{#if totalEventCount}}
      <div class="row">
        <div class="col-xs-6 text-left">Showing {{eventsStart}} to {{eventsEnd}} of {{formatNumber totalEventCount}} entries</div>
        <div class="col-xs-6 text-right">
          <ul class="pagination pagination-sm">
            <li {{isFirstPage}}><a class="firstEvents" href="#">First</a></li>
            <li {{isFirstPage}}><a class="previousEvents" {{isFirstPage}} href="#">Previous</a></li>
            <li {{isLastPage}}><a class="nextEvents" href="#">Next</a></li>
            <li {{isLastPage}}><a class="lastEvents" href="#">Last</a></li>
          </ul>
        </div>
      </div>
      {{else}}
      <div class="alert alert-warning" role="alert">No data available.</div>
      {{/if}}
    </div>
  </form>
</template>
