<template name="eventsList">
  <div id="eventList">
    <div clamm="row">
      <div class="col-xs-5 text-left">info</div>
      <div class="col-xs-3 text-right">filters</div>
      <div id="tableButton" class="col-xs-4 text-right">Buttons</div>
    </div>
    <div class="row">
      <div class="col-xs-12">  
        <table class="existingJobsTable table row-border stripe compact hover dataTable no-footer" id="eventList" role="grid">
          <thead>
            <th>Job ID</th>
            <th>Executed on</th>
            <th>Status</th>
            <th>Response Time</th>
            <th>n° Series</th>
            <th>n° Observations</th>
          </thead>
          <tbody>
            {{#each this}}
              {{> eventListRow}}        
            {{/each}}
          </tbody>
        </table>
      </div><!-- col-12 -->
    </div><!-- row -->
    <div class="row">
      <div class="col-xs-6 text-left">Showing {{eventsStart}} to {{eventsEnd}} of {{totalEventCount}} entries</div>
      <div class="col-xs-6 text-right">
        <ul class="pagination pagination-sm">
          <li {{isFirstPage}}><a class="firstEvents" href="#">First</a></li>
          <li {{isFirstPage}}><a class="previousEvents" {{isFirstPage}} href="#">Previous</a></li>
          <li {{isLastPage}}><a class="nextEvents" href="#">Next</a></li>
          <li {{isLastPage}}><a class="lastEvents" href="#">Last</a></li>
        </ul>
      </div>
    </div>
  </div><!-- eventList -->
</template>
