<template name="eventsList">
  <div id="eventList">
    <div clamm="row">
      <div class="col-xs-5 text-left"></div>
      <div class="col-xs-3 text-right"></div>
      <div id="tableButton" class="col-xs-4 text-right">
        <div class="checkbox" >
          Display: <input id="problematicToggle" type="checkbox" data-toggle="checkbox" data-width="100" data-size="small" data-offstyle="primary" data-off="All" data-onstyle="danger" data-on="Errors" {{showProblematicOnly}}>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <table class="table row-border stripe compact hover dataTable no-footer" role="grid">
          <thead>
            <th class="sortByJobId {{isSorted 'jobId'}}">Job</th>
            <th class="sortByETime {{isSorted 'etime'}}">Executed on</th>
            <th class="sortByStatus {{isSorted 'status'}}">Status</th>
            <th class="sortByResponseTime {{isSorted 'responseTime'}}">Response time <small>(milliseconds)</small></th>
            <th class="sortBySeries {{isSorted 'series'}}">Series</th>
            <th class="sortByObservations {{isSorted 'observations'}}">Obs.</th>
            <th class="sortBySize {{isSorted 'size'}}">Size <small>(bytes)</small></th>
          </thead>
          <tbody>
            {{#each this}}
              {{> eventListRow}}
            {{/each}}
          </tbody>
        </table>
      </div><!-- col-12 -->
    </div><!-- row -->
    <div class="row">
      <div class="col-xs-6 text-left">Showing {{eventsStart}} to {{eventsEnd}} of {{totalEventCount}} entries</div>
      <div class="col-xs-6 text-right">
        <ul class="pagination pagination-sm">
          <li {{isFirstPage}}><a class="firstEvents" href="#">First</a></li>
          <li {{isFirstPage}}><a class="previousEvents" {{isFirstPage}} href="#">Previous</a></li>
          <li {{isLastPage}}><a class="nextEvents" href="#">Next</a></li>
          <li {{isLastPage}}><a class="lastEvents" href="#">Last</a></li>
        </ul>
      </div>
    </div>
  </div><!-- eventList -->
</template>
