<template name="eventListRow">
  <tr {{isProblematicRow}}>
    <td class="textCell">{{jobId}}</td>
    <td class="centerCell">{{formatExecutionTime etime}}</td>
    <td class="centerCell">{{> statusCodeCell}}</td>
    <td class="bulletCell" style="width: 700px;">
      {{> responseTimeChartCSS}}
    </td>
    <td class="numericCell">{{formatNumber series}}</td>
    <td class="numericCell">{{formatNumber observations}}</td>
    <td class="numericCell">{{formatNumber size}}</td>
  </tr>
</template>
