<template name="responseTimeChartCSS">
  <div class="bullet-graph">
    {{#with graphData}}
    <div class="graph">
      {{#each ranges}}
        <div class="region-{{index}}" style="width: {{percent}};">
          <div class="region-label"></div>
        </div>
      {{/each}}

       <div class="target" style="width: {{markerPercent}};">
        <div class="target-label"><div class="target-label-text">{{marker}}</div></div>
      </div>  
      <div class="measure {{measureState}}" style="width: {{measurePercent}};">
        <div class="measure-label">{{measure}}</div>
      </div>
    </div>

    <div class="scale">
      {{#each ticks}}
        <div class="tick" style="left: {{tickPercent}}">
          <div class="tick-label"><div class="tick-label-text">{{tickValue}}</div></div>
        </div>
      {{/each}}
    </div>
    {{/with}}
  </div>

</template>