@import "vendor/custom.bootstrap.import.less";

body {
  /* navbar fixed top requires body padding */
  padding-top: 50px;
  font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 25px;
  color: #333;
}

h1, h2, h3, h4, h5, h6, #sidebar_menu li {
  font-family: 'Droid Serif', Georgia, Times, serif;
}

#contentWrapper {
  padding: 5px 20px;
}

.WelcomeTitle {
  font-family: firstOrder;
  font-size: 40pt;
  text-align: center;
  padding-bottom: 40px;
}

.navbar-brand {
  font-family: firstOrder;
  font-size: 25px;
}

.spinner {
  margin: 30px auto;
}

table {
  font-size: 0.9em;
}




/* Required field */
.required-field-block {
  position: relative;
}
.required-field-block .required-icon {
  display: inline-block;
  vertical-align: middle;
  margin: -0.25em 0.25em 0em;
  background-color: #E8E8E8;
  border-color: #E8E8E8;
  padding: 0.5em 0.8em;
  color: rgba(0, 0, 0, 0.65);
  text-transform: uppercase;
  font-weight: normal;
  border-radius: 0.325em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: background 0.1s linear;
  -moz-transition: background 0.1s linear;
  transition: background 0.1s linear;
  font-size: 75%;
}
.required-field-block .required-icon {
  background-color: transparent;
  position: absolute;
  top: 0px;
  right: 6px;
  z-index: 10;
  margin: 0em;
  width: 25px;
  height: 25px;
  padding: 0em;
  text-align: center;
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
.required-field-block .required-icon:after {
  position: absolute;
  content: "";
  right: 1px;
  left: -15px;
  top: 1px;
  z-index: -1;
  width: 0em;
  height: 0em;
  border-top: 0em solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 0em solid transparent;
  border-right-color: inherit;
  -webkit-transition: border-color 0.2s ease;
  -moz-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;
}
.required-field-block .required-icon .text {
  color: #B80000;
  font-size: 19px;
  margin: 0px 0 0 -10px;
}

#footer {
  position: fixed;
  bottom: 0px;
  z-index: 1000;
  width: 100%;
  background-color: #333;
  padding: 5px;
  margin: 30px 0 0 0;
  border: 1px solid #000;
}
#footer .credit {
  color: #ccc;
  font-style: italic;
  font-size: 0.8em;
}


/* wizard styling */
#insertJobModal {
  .form-group {
    margin-bottom: 0px;
  }
  .modal-header {
    padding: 5px 10px;
  }
  .checkbox label {
    padding-left: 0px;
  }
  .form-horizontal .control-label {
    line-height: 30px;
        padding: 0px;

  }
}

//-- for the velocity testing widgets
#velocity-status-widget {
  opacity: 0.2;
  &:hover {
    opacity: 1;
  }
}
