<template name="header">
    <header role="header">
        <nav class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{pathFor 'queriesList'}}">
                        Heimdallr</a>
                </div>
                <div class="collapse navbar-collapse" id="navigation">
                    <ul class="nav navbar-nav">
                        <li><a href="{{pathFor 'queriesList'}}">Queries</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown" style="margin-top: -5px;">
                            <a href="#" class="dropdown-toggle"
                               data-toggle="dropdown">
                                {{currentUser.profile.login}}
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a id="logout">logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
</template>