<template name="sidebar">

  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <span class="fa fa-tachometer fa-2x fa-fw" aria-hidden="true"></span> Dashboard
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          actions... tbd
        </div>
      </div>
    </div><!-- panel -->
    
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <span class="fa fa-calendar fa-2x fa-fw" aria-hidden="true"></span> Calendar
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          tbd...
        </div>
      </div>
    </div><!-- panel -->
  </div><!-- list group -->
      
    
    

  <div class="progress">
    <div class="progress-bar progress-success">
    </div>
  </div>
  
</template>